{# empty Twig template #}
{% extends 'base.html.twig' %}


{% block body %}
        <h1> {{ title }}</h1>

            {#{{  dump() }}#}


            <p class="but">
                BIENVENNU DANS VOTRE APPLICATION DE GESTION DE STOCK
            </p>
    {#
                <h2> comments ({{ comments|length}})</h2>

                <ul>
                    {% for comment in comments %}
                        <li> {{ comment }}</li>
                    {% endfor %}
                 </ul>
                 #}
   {% endblock %}     

